* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* separa logo y botones */
  background-color: #2d78a7;
  height: 10vh; /* 10% de la altura de la pantalla */
  padding: 0 20px;
  position: relative;
  margin: 10px;
}

.logo {
  width: 15%;
}

.titulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.botones {
  color: white;
  display: flex;
}

.btn {
  margin: 2px;
  border: 1px solid rgb(12, 80, 176);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.icon {
  background-color: transparent;
  height: 30px; /* o el tamaño que quieras */
  width: auto;
  mix-blend-mode: multiply;
}
.l {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: contain; /* o 'cover' según lo que prefieras */
}
.main {
  background-color: #2d78a7;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: 86vh; /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
}

.main2{
    align-items: center;
    justify-content: center;
    background-color: #a9cce2ed;
    display: flex;
    height: 90%;
    width: 90%;
    flex-direction: row;
    border: solid black 1px;
    border-radius: 8px;

}

.prod{
    background-color: #a9cce2;
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.pap{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  text-align: center;
}

.pp1{
  align-items: center;
  text-align: center;
  margin: 1px;
  border-radius: 5px;
}

.mandar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a9cce2;
    height: 80%;
    width: 50%;
    border: solid black 1px;
    margin: 5px;
}

.p{
    background-color: #d1edff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: auto;
    width: 90%;
    align-items: center;
}

.m{ 
    background-color: #d1edff;
    height: auto;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
}

.p2{
    padding: 5px;
    margin:2px;
}

