* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* separa logo y botones */
  background-color: #2d78a7;
  height: 10vh; /* 10% de la altura de la pantalla */
  padding: 0 20px;
  position: relative;
  margin: 10px;
}

/* Centramos el título exactamente en el medio */
.titulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  color: rgb(6, 9, 39); /* Color neón base */
      text-shadow:
        0 10px 50px rgb(119, 245, 241),
        0 0 10px rgb(42, 255, 230),
        0 0 20px rgb(0, 242, 255),
        0 0 40px #0ff,
        10px 10px 80px rgb(239, 1, 1);
      animation: parpadeo 1.5s infinite alternate;
  
}

.logo {
  width: 15%;
}

.botones {
  color: white;
}

.btn {
  border:1px solid rgb(12, 80, 176);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.icon{
  height: 30px; /* o el tamaño que quieras */
  width: auto;
}

.main {
    background-color: #77a9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: auto;
  min-height: 86vh; /* Ocupa toda la pantalla */
}

.log {
  background-color: #a9cce2;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 40%;
  height:auto;
  text-align: center;
  margin: 10px;
}

.recuadro {
  margin-top: 15px;
  background-color: #d1edff;
  padding: 10px;
  border-radius: 5px;
}
input {
  background-color: #d1edff;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box; /* Asegura que padding no rompa el ancho */
}

.btnEntrar {

    color: white;
  margin: 20px;
  background-color: #112d59;
  height: 5vh;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.link{
  color: #4f9ff5;
  text-decoration: none;
}
a{
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: #4f9ff5; 
  text-decoration: none;
}

.l {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: contain; /* o 'cover' según lo que prefieras */
}